.App {
  min-block-size: 100vh;
  inline-size: 100%;
  background-color: hsl(0, 0%, 98%);
}

header {
  background-color: #fff;
  position: fixed;
  position: relative;
  z-index: 1000;
  top: 0;
  inline-size: 100%;
}

footer {
  background-color: hsl(233, 26%, 24%);
  padding-block: 3rem;
}

